<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add a song</title>
<link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css" th:href="@{/css/css/bootstrap.min.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<button type="button" th:text="#{switch-en}" onclick="window.location.href='http://localhost:8080/?localeData=en'"></button>
<button type="button" th:text="#{switch-it}" onclick="window.location.href='http://localhost:8080/?localeData=it'"></button>
<button type="button" th:text="#{switch-fi}" onclick="window.location.href='http://localhost:8080/?localeData=fi'"></button>
<div class="container">
<h2 th:text="#{addNewSong}"></h2>
<div class="container">

<div class="col-md-4">
<form th:object="${playlist}" th:action="@{../saveplaylist}" action="#" method="post">
	<label for="title" th:text="#{title}"></label>
		<input type="text" id="title" th:field="*{title}" class="form-control" required/>
		<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>
		<div style="clear: both; display: block; height: 10px;"></div>
	<label for="artist" th:text="#{artist}"></label>
		<input type="text" id="artist" th:field="*{artist}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px;"></div>
	<label for="release_year" th:text="#{releaseyear}"></label>
		<input type="text" id="release_year" th:field="*{release_year}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px;"></div>
	<label for="length" th:text="#{length}"></label>
		<input type="text" id="length" th:field="*{length}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px;"></div>
	<label for="catlist" th:text="#{category}"></label>
			 <select id="catlist" th:field="*{category}" class="form-control required">
       			<option th:each="category: ${categorys}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select>
    <input type="submit" class="btn btn-success" value="Save"></input>
    <a href="/playlist" class="btn btn-success" th:text="#{back}"></a>
</form>
</div>
</div>
</body>
</html>