<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="ISO-8859-1">
<link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css" th:href="@{/css/css/bootstrap.min.css}" />
<title>Musiclist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<button type="button" th:text="#{switch-en}" onclick="window.location.href='http://localhost:8080/?localeData=en'"></button>
<button type="button" th:text="#{switch-it}" onclick="window.location.href='http://localhost:8080/?localeData=it'"></button>
<button type="button" th:text="#{switch-fi}" onclick="window.location.href='http://localhost:8080/?localeData=fi'"></button>
<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign out"/>
	</form><br>
	<span th:text="#{hello}"></span> <span sec:authentication="name"></span>!<br>
		<p><a href="/addsong" class="btn btn-success" th:text="#{addNewSong}"></a> <a href="/index" class="btn btn-success" th:text="#{mainPage}"></a> <a href="/categorylist" class="btn btn-success" th:text="#{category}"></a></p>
<!--	<h1>Hello <span sec:authentication="name"></span>!</h1> -->

	<h1 th:text="#{workout}"></h1>
<table class="table table striped">
		<tbody>
		<tr>
		    <th th:text="#{title}"></th>
		    <th th:text="#{artist}">t</th>
		    <th th:text="#{releaseyear}"></th>
		    <th th:text="#{length}"></th>
		   	<th th:text="#{category}">Category</th>
		   	<th sec:authorize="hasAuthority('ADMIN')"> </th>
  		</tr>
		<tr th:each = "music: ${musics}">
			<td th:text="${music.title}">Song title</td>
			<td th:text="${music.artist}">Artist</td>
			<td th:text="${music.release_year}">Release year</td>
			<td th:text="${music.length}">Song length</td>
			<td th:text="${music.category.name}">Category</td>
		<td sec:authorize="hasAuthority('ADMIN')"> <a class="btn btn-danger" th:href="@{delete/{id}(id=${music.id})}" th:text="#{delete}"></a></td>
		<td><a class="btn btn-light" th:href="@{edit/{id}(id=${music.id})}" th:text="#{edit}"></a></td>
		</tr>
		</tbody>
		</table>

</body>
</html>